<a href="https://colab.research.google.com/github/PrajuMaharjan/5CS037--Concepts-and-Technologies-of-AI./blob/main/Worksheet_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3 To- Do-

Please Complete all the problem listed below.

3.1 Warm Up Exercises:
1. Sorting and Subsetting:

Complete all following Task:

• Dataset for the Task: "titanic.csv"

Following task is common for all the problem:

1. Load the provided dataset and import in pandas DataFrame.
2. Check info of the DataFrame and identify following:

Problem 1- Sorting:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.
2. Create a DataFrame called class
age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.
3. Create a DataFrame called survived
gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

Problem- 2- Subsetting:

Complete all the following Task:

Subsetting Rows:

1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare
100.View the printed result.
class.View the printed result.
2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first
3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18.View the printed result.

Subsetting Rows by Categorical variables:
1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked
c
or
s. View the printed result.
2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first
second
class.View the printed result.

3.2 Exploratory Data Analysis Practice Exercise-1.

Warning: Handle missing valuesin the Agecolumn byfilling themwith themedian ageof
the dataset before performing thedivision.)

AnswerthefollowingquestionsfromDataset:
Which passenger had the highest fare paid relative to their age?

To answer the question perform following operations:

1.Add a column to the Titanic dataset,fare per year, containing the fare divided by the age of
the passenger(i.e.,Fare/Age).

2. Subset rows where fare  peryear is higher than 5,assigning this to high fare age.

3. Sort high fare age by descending fare per year,assigning this to high_fare age_srt.
4. Select only the Name and fare per year columns of high fare age srt and save the result as result.
5. Look at the result.

Which adult male passenger(age≥18 and Sex is ’male’)paid the highest fare relative to their
class?

To answer the question perform following operations:

1.Add a column to the Titanic dataset,fare per class,containing the fare divided by thepassenger class i.e. Fare /Pclass.

2. Subset rows where the passenger is male(Sex is ”male”) and an adult(Age is greater than or equal to 18), assigning this to adult males.

3. Sort adult males by descending fare per class, assigning this to adult males srt.

4. Select only the Name, Age, and fare per class columns of adult males sr and save the result as result.

5. Look at the result.

3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:

Based on the dataset Answer the following question:

What percent of the total fare revenue came from each passenger class?

To answer the question perform following operation:
1. Calculate the total Fare paid across all passengers in the Titanic dataset.
2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.
3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).
4. Combine the fare totals from first, second, and third classes into a list.
5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

Based on the dataset Answer the following question:

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?

To answer the question perform following operation:
1. Create a new column, age
group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).
2. Calculate the total number of passengers on the Titanic.
3. Count the number of passengers in each age group.
4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.
5. Display the proportion as a percentage

In [ ]:
#3.To-Do-Task
#3.1 Warm Up Exercises:
#1. Sorting and Subsetting:
#1. Load the provided dataset and import in pandas DataFrame.

import pandas as pd
read_csv=pd.read_csv("Titanic-Dataset.csv")
titanic=pd.DataFrame(read_csv)

#2. Check info of the DataFrame and identify following:

print("Info of titanic.csv : ")
titanic.info()

Info of titanic.csv :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
#Problem 1- Sorting:
#1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the head of the result.

fare=titanic["Fare"]
print("Fare dataset:")
fare.head()

Fare dataset:

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [ ]:
#2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic dataset, in that order. Print the head of the result.

class_age=titanic[["Pclass","Age"]]
print("Passenger Class and Age columns:")
class_age.head()

Passenger Class and Age columns:

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [ ]:
#3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the Titanic dataset, in that order.Print the head of the result.

survived_gender=titanic[["Survived","Sex"]]
print("Survived and Sex columns:")
survived_gender.head()

Survived and Sex columns:

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [ ]:
#Problem- 2- Subsetting:
#Subsetting Rows:
#1.	Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it to fare_gt 100.View the printed result.

fare_gt_100=titanic[titanic["Fare"]>100]
print("First 10 passengers with fare greater than 100:")
fare_gt_100.head(10)

First 10 passengers with fare greater than 100:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
195,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C
215,216,1,1,"Newell, Miss. Madeleine",female,31.0,1,0,35273,113.2750,D36,C
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0,1,PC 17582,153.4625,C125,S
269,270,1,1,"Bissette, Miss. Amelia",female,35.0,0,0,PC 17760,135.6333,C99,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S

In [ ]:
#2.Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to first class.View the printed result.

first_class=titanic[titanic["Pclass"]==1]
print("5 first class passengers : ")
first_class.head()

5 first class passengers :

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

In [ ]:
#3.	Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger is female (Sex is "female"), assigning it to female under 18. View the printed result.

female_under_18=titanic[(titanic["Age"]<18) & (titanic["Sex"]=="female")]
print("Information of 5 females under 18 on the Titanic:")
female_under_18.head()

Information of 5 females under 18 on the Titanic:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S

In [ ]:
#Subsetting Rows by Categorical variables:
#1.Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S" (Southampton), assigning the result to embarked c  or s. View the printed result.

embarked_c_or_s=titanic[(titanic["Embarked"]=="C")| (titanic["Embarked"]=="S")]
print("5 passengers who embarked from Southampton or Cherbourg : ")
embarked_c_or_s.head()

5 passengers who embarked from Southampton or Cherbourg :

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#2.Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first or second class), assigning the result to first second class.View the printed result.

first_second_class=titanic[(titanic["Pclass"]==1) | (titanic["Pclass"]==2)]
print("Information of five first or second class passengers : ")
first_second_class.head()

Information of five first or second class passengers :

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [ ]:
# Which passenger had the highest fare paid relative to their age?
# To answer the question perform following operations:

# 1.	Add a column to the Titanic dataset, fare per  year, containing the fare divided by the age of the passenger(i.e.,Fare/Age).
titanic["fare_per_year"]=titanic["Fare"]/titanic["Age"]

# 2.	Subset rows where fare per year is higher than 5, assigning this to high fare  age.
high_fare_age=titanic[titanic["fare_per_year"]>5]

# 3.	Sort high fare  age by descending fare  per year, assigning this to high fare age srt.
high_fare_age_srt=high_fare_age.sort_values(by="fare_per_year",ascending=False)

# 4.	Select only the Name and fare  per year columns of high fare age srt and save the result as result.
result=high_fare_age_srt[["Name","fare_per_year"]]

# 5.	Look at the result.
print("the top five passengers who had the highest fare paid relative to their age : ")
display(result.head())

the top five passengers who had the highest fare paid relative to their age :

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

In [ ]:
# Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their class?
# To answer the question perform following operations:
# 1.	Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger class i.e. Fare / Pclass.
titanic["fare_per_class"]=titanic["Fare"]/titanic["Age"]

# 2.	Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal to 18), assigning this to adult males.
adult_males=titanic[(titanic["Sex"]=="male") &(titanic["Age"]>18)]

# 3.	Sort adult males by descending fare per class, assigning this to adult males srt.
adult_males_srt=adult_males.sort_values(by="fare_per_class",ascending=False)

# 4.	Select only the Name, Age, and fare per  class columns of adult  males  sr and save the result as result.
result=adult_males_srt[["Name","Age","fare_per_class"]]

# 5.	Look at the result.
print("Top 5 adult male passengers who paid the highest fare relative to their class : ")
result.head()

Top 5 adult male passengers who paid the highest fare relative to their class :

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0       14.637977
679  Cardeza, Mr. Thomas Drake Martinez  36.0       14.231367
27       Fortune, Mr. Charles Alexander  19.0       13.842105
118            Baxter, Mr. Quigg Edmond  24.0       10.313367
377           Widener, Mr. Harry Elkins  27.0        7.833333

In [ ]:
#3.3	Exploratory Data Analysis with Group-by Method Practice Exercise:
# What percent of the total fare revenue came from each passenger class?

# 1.	Calculate the total Fare paid across all passengers in the Titanic dataset.
total_fare_paid=titanic["Fare"].sum()
print("Total fare paid across all classes : ",total_fare_paid)

# 2.	Subset for passengers in first class (Pclass is 1) and calculate their total fare.
first_class=titanic[titanic["Pclass"]==1]
total_fare_paid_first_class=first_class["Fare"].sum()
print("Total fare paid by first class passengers : ",total_fare_paid_first_class)

# 3.	Do the same for second class (Pclass is 2) and third class (Pclass is 3).
second_class=titanic[titanic["Pclass"]==2]
total_fare_paid_second_class=second_class["Fare"].sum()
print("Total fare paid by second class passengers : ",total_fare_paid_second_class)

third_class=titanic[titanic["Pclass"]==3]
total_fare_paid_third_class=third_class["Fare"].sum()
print("Total fare paid by third class passengers : ",total_fare_paid_third_class)

# 4.	Combine the fare totals from first, second, and third classes into a list.
fare_totals=[total_fare_paid_first_class,total_fare_paid_second_class,total_fare_paid_third_class]
print("")

# 5.	Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.
print(f"First class passengers paid {(fare_totals[0]/total_fare_paid)*100} of the total fare revenue.")
print(f"Second class passengers paid {(fare_totals[1]/total_fare_paid)*100} of the total fare revenue.")
print(f"Third class passengers paid {(fare_totals[2]/total_fare_paid)*100} of the total fare revenue.")

Total fare paid across all classes :  28693.9493
Total fare paid by first class passengers :  18177.4125
Total fare paid by second class passengers :  3801.8417
Total fare paid by third class passengers :  6714.6951

First class passengers paid 63.349287718996564 of the total fare revenue.
Second class passengers paid 13.24962855496507 of the total fare revenue.
Third class passengers paid 23.401083726038365 of the total fare revenue.

In [ ]:
#  What percent of the total number of passengers on the Titanic belonged to each age group(e.g., child, adult, senior)?

# 1.	Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age 18{64), and "senior" (age 65 and above).
age_groups=[]
for age in titanic["Age"]:
  if pd.isna(age):
    age_groups.append("Unknown")
  elif age<18:
    age_groups.append("Child")
  elif age<=64:
    age_groups.append("Adult")
  else:
    age_groups.append("Senior")
titanic["age_group"]=age_groups

# # 2. Calculate the total number of passengers on the Titanic.
print("Total number of passengers on the Titanic : ",len(titanic))

# 3.	Count the number of passengers in each age group.
age_groups_number=titanic.groupby("age_group").size()
print("Number of passengers in each age group : ")
display(age_groups_number)

# 4.	Divide the count of each age group by the total number of passengers to get the proportion of passengers in each age group.
age_groups_proportion=(age_groups_number/len(titanic))

# 5.	Display the proportion as a percentage.
age_groups_percentage=age_groups_proportion*100
print("The percentage of total number of passengers on the Titanic belonging to each age group : ")
display(age_groups_percentage)

Total number of passengers on the Titanic :  891
Number of passengers in each age group :

age_group
Adult      590
Child      113
Senior      11
Unknown    177
dtype: int64

The percentage of total number of passengers on the Titanic belonging to each age group :

age_group
Adult      66.217733
Child      12.682379
Senior      1.234568
Unknown    19.865320
dtype: float64